h4 {
  font-size: 15px;
  font-weight: bold;
}

.Meaning {
  margin-bottom: 5px;
  text-align: left;
  margin-left: 0 30px;
}

.Meaning-definition {
  font-size: 13px;
}

.Meaning-example {
  font-size: 12px;
  opacity: 0.6;
}
