h4 {
  font-size: 18px;
  font-weight: bold;
}

.Meaning {
  margin-bottom: 5px;
  text-align: left;
  margin-left: 0 30px;
}

.Meaning-definition {
  font-size: 16px;
}

.Meaning-example {
  font-size: 14px;
  opacity: 0.7;
}
